body {
	margin: 0;
	font-family: Helvetica, sans-sefif;
	color: #fafafa;
	background: #172042;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	color: #6b6f8a;
	font-size: 0.9em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0c1839;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6b6f8a;
}

/*===== Dashboard =====*/
.dashboard {
	display: grid;
	background: #172042;
	padding: 2em;
	grid-template-columns: 300px 300px 300px;
	justify-content: center;
	grid-gap: 2em;
	top: 4.1em;
	overflow-x: hidden;
}

.panel {
	background: linear-gradient(90deg, #262a4f, #122442);
	box-shadow: -5px -5px 8px #293063, 5px 5px 8px #11163c;
	border-radius: 15px;
	overflow: hidden;
}

/*List panel*/
.list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.list li:not(:last-child) {
	border-bottom: 1px #2a335e solid;
}

.list span {
	color: #ea335d;
}

/*Goal panel*/
.goal {
	padding: 1rem;
}

.goals,
.goal,
.goal-title {
	display: flex;
	align-items: center;
}

.goal-title h4:nth-child(1) {
	margin: 0 2em 0 0;
}

.goal-title {
	margin-bottom: 0.5em;
}

.goals {
	flex-direction: column;
}

.goal {
	margin: 1em 0;
}

.goal span {
	color: #03dcee;
	margin-right: 0.5em;
	font-size: 2em;
}

/*Stats panel*/
.stats {
	grid-column-start: span 3;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	margin-top: 2rem;
}

.stats > div {
	border-radius: 1rem;
	padding: 1rem;
}

.stats > div:nth-child(even) {
	background: linear-gradient(0deg, #b52b4b, #ea335d);
}

.stats > div:nth-child(odd) {
	background: linear-gradient(0deg, #178add, #03dcee);
}

/*Text Panel*/
.text {
	padding: 1rem;
}

.text-horizontal {
	grid-column-start: span 2;
}

.text-horizontal3 {
	grid-column-start: span 3;
}

.intro {
	margin: 2rem 0;
}

.quote {
	grid-column-start: span 3;
	margin: 1rem 0;
	padding: 0.5rem;
	font-size: 1.5rem;
}

.grid {
	display: grid;
	grid-column-start: span 3;
	grid-template-columns: 400px auto;
	column-gap: 3rem;
}

#vgbar {
	grid-column-start: span 3;
}

@media screen and (max-width: 1000px) {
	.dashboard {
		grid-template-columns: 250px 250px 250px;
	}
}

@media screen and (min-width: 1000px) {
	#vggenres {
		margin-left: 5rem;
	}
}
